.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.gallery-grid_node {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 25%;
}

.gallery-grid_row {
  display: flex;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 10px;
}

.gallery-grid_col-6 {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.gallery-grid_col {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}


@media only screen and (max-width: 960px) {
  .gallery-grid_node {
    width: 50%;
  }
}

@media only screen and (max-width: 740px) {
  .gallery-grid_node {
    width: 100%;
  }
}