@import "../../styles/variables";

.load {
	padding: 30px 0;
	text-align: center;
}

.load_item {
	display: inline-block;
	width: 64px;
	height: 64px;
}
.load_item:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid $blue;
	border-color: $blue transparent $blue transparent;
	animation: load .6s linear infinite;
}
@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}