@import "../../styles/variables";

.btn {
	position: relative;
	min-width: 125px;
	text-align: center;
	padding: 8px 25px;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: none;
	text-shadow: none;
	background-color: transparent;
	color: $white;
	text-transform: uppercase;
	transition-duration: .2s;
	&--transparent {
		border-color: $blue;
		&:hover {
			background-color: $blue;
		}
	}
	&--blue {
		background-color: $blue;
		&:hover {
			background-color: $white;
			color: $blue;
		}
	}
	&--orange {
		min-width: 165px;
		padding: 14px 25px;
		border-radius: 0;
		border-width: 2px;
		border-color: $orange;
		color: $black;
		background-color: $white;
		&:hover {
			background-color: $orange;
			color: $white;
		}
	}
	&--submit {
		padding: 12px 25px;
		border-radius: 0;
		background-color: $blue;
		&:hover {
			background-color: $white;
			color: $blue;
		}
	}
	&:disabled {
		opacity: .7;
		cursor: not-allowed	;
	}
}