@import "../../styles/variables";

.news-item {
  display: block;
  &:hover {
    .news-item_body {
      transform: translateY(-55px);
    }
    .news-item_link {
      opacity: 1;
      visibility: visible;
    }
  }

}

.news-item_img {
  img {
    display: block;
    max-width: 100%;
  }
}

.news-item_body {
  background-color: $white;
  max-width: 405px;
  padding-top: 20px;
  transform: translateY(0);
  transition-duration: .3s;
  transition-property: transform;
}

.news-item_title {
  padding-bottom: 15px;
  font-size: 24px;
  &:first-letter {
    text-transform: capitalize;
  }
}

.news-item_content {
  padding-bottom: 20px;
  color: $gray-700;
  font-size: 18px;
  font-weight: 300;
  &:first-letter {
    text-transform: capitalize;
  }
}

.news-item_link {
  position: relative;
  display: block;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba($black, .3);
  opacity: 0;
  visibility: hidden;
  transition-duration: .25s;
  transition-property: opacity;
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../../assets/images/icon/icon_read.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}