@import "../../styles/variables";

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.form_block {
  width: 100%;
  max-width: 310px;
  padding-bottom: 20px;
  margin-right: 20px;
  label {
    display: block;
    &.is-invalid {
      input {
        border-color: red;
      }
    }
    &.is-valid {
      input {
        border-color: $blue;
      }
    }
  }
  input {
    display: block;
    width: 100%;
    border: 2px solid transparent;
    padding: 10px 15px;
    background-color: $white;
    font-size: 16px;
    font-weight: 300;
    color: $gray-300;
  }
}

@media only screen and (max-width: 740px) {
  .form {
    align-items: center;
    flex-direction: column;
  }
  .form_block {
    margin-right: 0;
  }
}