@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../styles/variables";
@import "../../styles/common";

.hero {
	position: relative;
}

.hero_list {
	position: absolute;
	//left: 50%;
	//top: 50%;
	//transform: translate(-50%, -50%);
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	.slick-slider,
	.slick-list,
	.slick-track,
	.slick-slide {
		height: 100%;
		>div {
			height: 100%;
		}
	}
}

.hero_item {
	position: relative;
	height: 100%;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($black, .4);
	}
}

.hero_bg {
	height: 100%;
	padding-top: 35%;
	background-position: 50%;
	background-size: cover;
}

.hero_content {
	position: relative;
	padding-top: 250px;
}

.hero_inner {
	@extend .container;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.hero_title {
	padding-bottom: 125px;
	color: $white;
	text-align: center;
}

.hero_title-big {
	font-size: 44px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.hero_title-small {
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.hero_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 15px;
}

@media only screen and (max-width: 740px) {
	.hero_icon {
		flex-wrap: wrap;
	}
	.hero_title-big {
		font-size: 35px;
	}
}