@import "../../styles/variables";

.newsletter {

}

.newsletter_head {
  padding-bottom: 20px;
  color: $white;
  text-align: center;
}

.newsletter_title {
  padding-bottom: 20px;
  font-size: 44px;
  text-transform: uppercase;
}

.newsletter_subtitle {
  font-size: 18px;
  font-weight: 300;
  opacity: .7;
}

@media only screen and (max-width: 740px) {
  .newsletter_title {
    font-size: 35px;
  }
}