@import "../../styles/variables";

.popup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($black, .5);
	z-index: 1000;
}

.popup_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 700px;
	height: 100%;
	max-width: 900px;
	margin: auto;
}

.popup_close {
	position: absolute;
	right: 30px;
	top: 30px;
	border: none;
	background-color: transparent;
	padding: 0;
	svg {
		display: block;
		max-width: 100%;
	}
}

.popup_content {
	img {
		display: block;
		max-width: 100%;
		margin: auto;
	}
}