@import "variables";
// border-box model
*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1350px;
	margin: auto;
	padding: 0 15px;
}

.section {
	position: relative;
	padding-top: 70px;
	padding-bottom: 20px;
}

.section_btn {
	position: relative;
	margin-top: 35px;
	text-align: center;
	hr {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid $gray-100;
	}
}



@media only screen and (max-width: 1400px) {
	.container {
		max-width: 960px;
	}
}

@media only screen and (max-width: 960px) {
	.container {
		max-width: 740px;
	}
}