@import "../../styles/variables";

.vacancies-item {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 20px;
  background-color: $gray-200;
  border: 1px solid transparent;
  transition-duration: .2s;
  transition-property: border, background-color, box-shadow;
  &:hover {
    box-shadow: 0 1px 12px 9px rgba($gray-300, .15);
    background-color: $white;
    border-color: $gray-200;
  }
}

.vacancies-item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  svg g, path{
    fill: $blue;
  }
}

.vacancies-item_body {
  padding-left: 10px;
}

.vacancies-item_small-title {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  color: $gray-300;
}

.vacancies-item_big-title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.vacancies-item_medium-title {
  font-size: 16px;
  font-weight: 300;
  color: $gray-300;
}

@media only screen and (max-width: 740px) {
  .vacancies-item {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  .vacancies-item_icon {
    width: 100%;
    padding-bottom: 15px;
  }
}