@import "../../styles/variables";
$menu-btn-color: $blue;
$menu-btn-color--active: $gray-700;
$btn-height: 4px;
$btn-width: 100%;
$btn-border-radius: .08em;

.sandwich_inner {
  position: relative;
  font-size: 50px;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

.sandwich_middle,
.sandwich_bottom,
.sandwich_top {
  position: absolute;
  background: $menu-btn-color;
  will-change: transform;
}

.sandwich span {
  display: block;
  position: absolute;
  height: $btn-height;
  width: 100%;
  background: $menu-btn-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.sandwich_top {
  top: 0;
}

.sandwich_middle {
  top: 10px;
}

.sandwich_bottom {
  top: 20px;
}

.sandwich {
  position: fixed;
  width: 40px;
  height: 35px;
  top: 20px;
  right: 20px;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  &.is-active {
    .sandwich_middle,
    .sandwich_bottom,
    .sandwich_top {
      background: $menu-btn-color--active;
      transition: .25s ease-in-out;

    }

    .sandwich_top {
      top: 18px;
      transform: rotate(135deg);
    }
    .sandwich_middle {
      opacity: 0;
      left: 60px;
    }
    .sandwich_bottom {
      top: 18px;
      transform: rotate(-135deg);
    }
  }
}

@media only screen and (max-width: 740px) {
  .sandwich {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
