@import "../../styles/variables";

.icon-box {
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	padding: 10px 30px;
	text-align: center;
}

.icon-box_img {
	max-width: 90px;
	margin: auto;
	svg {
		display: block;
		max-width: 100%;
	}
}

.icon-box_title {
	font-size: 18px;
	color: $white;
	line-height: 1.4;
}

@media only screen and (max-width: 960px) {
	.icon-box {
		padding: 10px 10px;
	}
}

@media only screen and (max-width: 740px) {
	.icon-box {
		max-width: 50%;
	}
	.icon-box_img {
		max-width: 65px;
	}
}