.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding: 5px 0;
	z-index: 2;
}

.header_inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header_left {
	padding-right: 1rem;
}

.header_logo {
	display: block;
	svg {
		display: block;
		max-width: 100%;
	}
}

.header_nav {
	margin-right: auto;
}

.header_right {
	.btn {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
}

@media only screen and (max-width: 740px) {
	.header_inner{
		padding-right: 55px;
	}
	.header_right {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		.btn {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
}