.vacancies-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  padding-bottom: 50px;
}

.vacancies-grid_col  {
  display: flex;
  width: 100%;
  max-width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
}

@media only screen and (max-width: 740px) {
  .vacancies-grid_col {
    max-width: 100%;
  }
}