.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.news-grid_col {
  width: 100%;
  max-width: 33.333%;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
}



@media only screen and (max-width: 960px) {
  .news-grid_col {
    max-width: 50%;
  }
}

@media only screen and (max-width: 740px) {
  .news-grid_col {
    max-width: 470px;
    margin: auto;
  }
}
