@import "./styles/normalize";
@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/common";
@import "./styles/animate";


body, html {
	font-family: $main-font, sans-serif;
	font-size: 16px;
	font-weight: 500;
	overflow-x: hidden;
}