@import "../../styles/variables";

.nav {
	&.is-active {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

.nav_list {
	display: flex;
}

.nav_item {
	padding: 0 20px;
	a {
		position: relative;
		text-transform: uppercase;
		color: $white;
		padding-bottom: 5px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			background-color: $orange;
			transform: translateY(5px);
			transition-duration: .2s;
			transition-property: transform, opacity;
			transition-timing-function: ease-in-out;
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			&:before {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
}

@media only screen and (max-width: 960px) {
	.nav_item {
		padding: 0 10px;
		a {
			font-size: 14px;
		}
	}
}

@media only screen and (max-width: 740px) {
	.nav {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition-duration: .3s;
		transition-timing-function: ease-in-out;
	}
	.nav_list {
		flex-direction: column;
	}
	.nav_item {
		padding-bottom: 20px;
		a {
			color: $blue;
			font-size: 20px;
		}
	}
}